<div class="navbar">
 <div class="d-flex  >
  <%= image_tag "https://raw.gitbubusercontent.com/lewagon/fullstack-import/logo.jpg" %>
  <h1>Awesome Garage</h1>
  <%= link_to "See Cars", cars_path, class: "button-primary" %>
  <%= link_to "My Garage", favourites_path, class: "button-secondary" %>
</div>
